* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
  display: grid;
  grid-template-areas: 
  "header header header"
  "main aside"
  "footer aside";
}

.moon {
  padding-left: 10px;
}

.ham {
  background-image: url(hamgurger.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #008CFF;
  width: 30px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.menu {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.show {display:block;}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  padding: 20px;
  gap: 10px;
  border-bottom: solid 1px #aaa;
  background-color: #008CFF;
}

@media (max-width: 426px) {
.europa {
    width: 300px;
    height: 300px;
  }
}

@media screen and (min-width: 427px) {
.europa {  
    width: 500px;
    height: 500px;
  }
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: #555;
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #d4d4d4;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.Contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: end;
}
